*{
    font-family: 'Roboto';

    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(0, 0, 0);
}
header{
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.logo{
   padding: 10px;
   text-align: center;
   width: 17vw;
}
.material-icons{
    width: 100%;
    background-color: #2b2b2b;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.material-icons:hover{
    background-color: white;
    color: black;
}
.menu{
    display: none;
}
.menu > ul {
    list-style-type: none;

}
.menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    border-top: 1px solid rgb(49, 49, 49);
}
.menu > ul > li > a:hover{
    color: rgb(115, 245, 158);
    background-color: rgb(78, 78, 78);
}
main{
    width: 98%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}
.page-one{
    display: flex;
    fle
    color: white;
    background-image: url(https://i.pinimg.com/564x/93/4c/df/934cdf1ad9311492cdcd76e9ca717bc4.jpg);
}

                              /*------------------MOBILE---------------------*/
@media (max-width:700px) {
    .logo{
        padding: 10px;
        text-align: center;
        width: 57vw;
     }
}